pkgbase = swiftfetch
	pkgdesc = Fetch program written in rust
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/Ly-sec/swiftfetch
	arch = x86_64
	license = MIT
	depends = rust
	depends = cargo
	source = https://github.com/Ly-sec/swiftfetch/archive/refs/tags/v0.1.0.tar.gz
	sha256sums = c59a64b7d05d13fb6adf7d0a7cd3b76bedf40f714ac05eecaad7cf58e3766f04

pkgname = swiftfetch
